<div class="panel panel-default">
    <div class="panel-heading">
      <h3>Ingredients</h3>
    </div>
    <div class="panel-body">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ingredient of ingredients">
            <td>{{ ingredient.ingredient_id }}</td>
            <td>{{ ingredient.name }}</td>
            <td>
                <button (click) = "getDataList" class = "btn btn-primary"> Update</button>
                <button (click) = "getDataList" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
 
  


  