<div class="panel panel-default">
    <div class="panel-heading">
      <h3>Ingredients</h3>
       <button (click)="back()" class="btn btn-primary"> back</button>
    </div>
    <div class="panel-body">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ingredient of ingredients">
            <td>{{ ingredient.name }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
 

  <img src="{{recipe.imageURL}}" alt="image">